/* #region GENERAL */

:root {
    --font-family: Georgia, serif;

    font-family: var(--font-family);

    /* palette */
    --primary-chiari: #fafafa;
    --secondary-chiari: #eee;
    --tertiary-chiari: #ddd;
	
	--primary-scure: #333;
	--secondary-scure: #222;
    --tertiary-scure: #111;
    
    --palette-color: #612A2C;
    --palette-color2: #7E362A;

    background-color: var(--primary-chiari);
}

/* #endregion GENERAL */

/* #region HEADER */


@keyframes coffee {
    0%   { box-shadow: 0 0 0 10px; }
    50%   { box-shadow: 0 0 0 0px; }
    100%   { box-shadow: 0 0 0 10px; }
}

header h1 {
    padding-top: 20px;
}

header h1::before {
    background-color: var(--palette-color2);
    color: var(--palette-color);
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    border-radius: 50%;
    border: 5px solid var(--secondary-chiari);
    box-shadow: 0 0 0 10px;
    animation: coffee;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    box-sizing: content-box;
}

/* #endregion HEADER */

/* #region MAIN */

/* #region SECTION 1 */

.sctn-chmtv {
    background: url(imgs/bg-intro.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}

.sctn-chmtv h2, .sctn-chmtv p {
    text-shadow: 2px 2px 4px var(--tertiary-scure);
}

/* #endregion SECTION 1 */


/* #region SECTION 2 */

.centralize {
    margin: 0 auto;
    text-align: center;
}

.col-sm img {
    max-width: 30vw;
    max-height: 500px;
}

/* #endregion SECTION 2 */

/* #endregion MAIN */

/* #region FOOTER */

footer {
    
}

/* #endregion FOOTER */